$img-size: 40px;

.body {
  display: flex;
  padding: 20px;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.04);
  }
}

.image {
  flex-shrink: 0;
  width: $img-size;
  height: $img-size;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: $img-size;
    height: $img-size;
  }
}

.text {
  margin-left: 10px;
  color: #777582;
}

.title {
  font-size: 14px;
}
.description {
  font-size: 10px;
}
