$img-size: 50px;

.container {
  display: flex;
  padding: 20px;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.04);
  }
}
.content {
  width: 100%;
  display: flex;
}

.title {
  margin-left: 10px;
  color: #777582;
}

.image {
  flex-shrink: 0;
  width: $img-size;
  height: $img-size;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: $img-size;
    height: $img-size;
  }
}

.delete {
  margin-top: 15px;
  color: blue;
  font-size: 10px;

  &:hover {
    cursor: pointer;
    color: red;
  }
}
