.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-items: center;
}
.input {
  padding: 0 20px;
  width: 500px;
  border: none;
  font-weight: 300;
  font-size: 20px;
  outline: none;
}
.suggestionsContainer {
  position: absolute;
  background-color: #fff;
  top: 100%;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 3px 3px 14px 6px rgba(0,0,0,0.1);
  ul {
    padding: 0;
  }
}
.suggestion {
  display: block;
}
.suggestionHighlighted {
  background-color: rgba(128, 128, 128, 0.04);
}
